body {
  color: $dark;
}

h1, .h1 , h2, .h2 {
  font-family: 'Noto serif TC',serif;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 40px;
}

.main-title {
  font-family: 'Noto Serif TC', serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 150%; /* 180px */
  letter-spacing: 7.2px;
}

.title,
.title-sm,
.subtitle,
.text-normal,
.text-normal-bold
.text-sm
.text-sm-bold
.text-caption {
  font-family: 'Noto sans TC', serif;
}

.title,
.title-sm,
.subtitle {
  line-height: 1.5;
  font-weight: 700;
}

.title {
  font-size: 40px;
}

.title-sm {
  font-size: 28px;
}

.subtitle {
  font-size: 24px;
}

.text-normal,
.text-normal-bold,
.text-sm,
.text-sm-bold,
.text-caption {
  line-height: 1.6;
}

.text-normal, .text-normal-bold {
  font-size: 20px;
  font-weight: 400;
}

.text-normal-bold {
  font-weight: 700;
}

.text-sm
.text-sm-bold {
  font-size: 16px;
  font-weight: 400;
}

.text-sm-bold {
  font-weight: 700;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
}

.g-font {
  font-family: 'Gaegu', sans-serif;
}

.g-h1, .g-h2 {
  font-family: 'Gaegu', sans-serif;
  line-height: 1.5;
}

.g-h1 {
  font-size: 72px;
}

.g-h1 {
  font-size: 60px;
}

.skew-text {
  color: #AAFBD6;
  // font-family: Inter;
  font-size: 240px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.6;
  transform: skew(40deg, -5deg);
  width: 657px;
  position: relative;
  margin: 0 auto;
  text-shadow: -1px -1px 0 $primary,
              1px -1px 0 $primary,
              -1px 1px 0 $primary,
              1px 1px 0 $primary;
  &.before {
    left: -120px;
    top: 0px;
  }
  &.after {
    top: -70px;
    left: 40px;
  }
}